*{
  @mixin gradient-bg($color: null) {
    background-color: $color;
  
    @if $enable-gradients {
      background-image: var(--#{$variable-prefix}gradient);
    }
  /* }  linear-gradient(to right, #e64f4f,#e8ad80,rgb(249, 249, 140),#bdf7ce,#a6dcf9,#e782c9,rgb(248, 8, 248));
    border: 0;
    padding: 0; */
}
}
.box{
    border: 10px inset ;
    border-color: black;
    background-image: linear-gradient(to right,#f4a5a5);
    border-radius: 50%;
    width: 200px;
    text-align: center;
    padding: 50px 50px;
    justify-content: space-between;
    height: 50px;
}



button {
    border: none;
   border-radius: 35%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btn-play{
    background-color: #f08914;
  }
  .btn-pause{
    background-color: #f08914;
  }